.contacts-section {
	@media screen and (min-width: $desktop) {
		padding: 58px 0px 72px 0px;
	}

	@media screen and (min-width: $desktop) {
		padding: 24px 0px 32px 0px;
	}
}

.contacts-body {
	@media screen and (min-width: $desktop) {
		display: flex;
	}
}

.contacts-img__desktop {
	@media screen and (min-width: $desktop) {
		max-width: 600px;
		max-height: 618px;
	}
	@media screen and (max-width: $desktop) {
		display: none;
	}
}

.contacts-img__mobile {
	@media screen and (min-width: $desktop) {
		display: none;
	}
	@media screen and (max-width: $desktop) {
		max-width: 390px;
		max-height: 292px;
	}
}

.contacts-block {
	background-color: $dark;
	max-width: 620px;
	max-height: 618px;
}
.contacts-form {
	display: block;
	margin: 0px 20px 0px 20px;
	@media screen and (min-width: $desktop) {
		margin: 32px 40px 40px 40px;
	}
}

.contacts-form__title {
	font-family: $font_default;
	font-style: normal;
	font-weight: 600;
	line-height: 1.3;
	color: $white;
	margin: 0px;
	font-size: 20px;
	padding-top: 23px;
	@media screen and (min-width: $desktop) {
		font-size: 36px;
	}
}

.contacts-form__paragraf {
	color: #c2c2c2;
	margin: 8px 0px 20px 0px;

	@media screen and (min-width: $desktop) {
		margin: 16px 0px 24px 0px;
	}
}

.contacts-form__block {
	display: flex;
}

.contacts-form__label {
	font-family: $font_default;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	color: $white;
}

.contacts-form__input-name,
.contacts-form__input-phone,
.contacts-form__input-email,
.contacts-form__input-message {
	background: #3d3d3d;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid $purple;
	font-family: $font_default;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	color: $white;
}

.contacts-form__input-name,
.contacts-form__input-phone {
	min-height: 47px;
	width: 100%;
	max-width: 350px;
	margin: 0px 0px 8px 0px;
	@media screen and (min-width: $desktop) {
		width: 260px;
		margin: 0px 0px 24px 0px;
	}
}

.contacts-form__input-email {
	width: 100%;
	min-height: 49px;
	max-width: 350px;
	margin: 0px 0px 8px 0px;
	@media screen and (min-width: $desktop) {
		max-width: 539px;
		margin: 0px 0px 24px 0px;
	}
}

.contacts-form__input-message {
	width: 100%;
	min-height: 118px;
	margin: 0px 0px 40px 0px;
	max-width: 350px;
	@media screen and (min-width: $desktop) {
		max-width: 539px;
		margin: 0px 0px 19px 0px;
	}
}

.contacts-form__button-iconarrow {
	fill: $white;
}
